<div class="flex justify-center items-center mt-2">

    <div class="card card-border bg-base-100 w-full">
        <div class="card-body">
           

                <table class="table table-xs">
                    <thead>
                        <tr>
                            <th>Sl</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Company</th>
                            <th>Department</th>
                            <th>Role</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>121</td>
                            <td>Anik Lal Dey</td>
                            <td>anik@gmail.com</td>
                            <td>01973174426</td>
                            <td>Supernova</td>
                            <td>Software</td>
                            <td>admin</td>
                            <td><button class="btn btn-error text-white">Delete</button></td>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td>121</td>
                            <td>Anik Lal Dey</td>
                            <td>anik@gmail.com</td>
                            <td>01973174426</td>
                            <td>Supernova</td>
                            <td>Software</td>
                            <td>admin</td>
                            <td><button class="btn btn-error text-white">Delete</button></td>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td>121</td>
                            <td>Anik Lal Dey</td>
                            <td>anik@gmail.com</td>
                            <td>01973174426</td>
                            <td>Supernova</td>
                            <td>Software</td>
                            <td>admin</td>
                            <td><button class="btn btn-error text-white">Delete</button></td>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td>121</td>
                            <td>Anik Lal Dey</td>
                            <td>anik@gmail.com</td>
                            <td>01973174426</td>
                            <td>Supernova</td>
                            <td>Software</td>
                            <td>admin</td>
                            <td><button class="btn btn-error text-white">Delete</button></td>
                        </tr>

                </table>
            </div>
        </div>
    </div>

    
